.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #e9f5ff;
    background-image: url('../assets/login_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .loginForm {
    
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .loginTitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .loginForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
  }
  
  .loginForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .loginBtn {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .loginBtn:hover {
    background-color: #0056b3;
  }
  
  .loginForm p {
    text-align: center;
    margin-top: 20px;
  }
  
  .loginForm a {
    color: #007bff;
    text-decoration: none;
  }
  
  .loginForm a:hover {
    text-decoration: underline;
  }